* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  color: rgba(22, 24, 35, 1);
  direction: ltr;
  overscroll-behavior: contain;
}

#menu-neft {
  width: 120px;
  height: 40px;
}

.header-container {
  margin: 20px 0 20px;
}
.search_form {
  margin-top: 10px;
}
.search {
  outline: none;
  border: 1px solid #ccc;
  height: 40px;
  width: 70%;
}

.input-group {
  display: flex;
}

.btn-search {
  width: 50px;
  height: 40px;
  border: none;
}

.top-cart {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-group {
  height: 57px;
  background-color: blue;
}
